<!-- http://foundation.zurb.com/docs/components/abide.html -->
<div class="row">
    <input type="text" placeholder="Name *"  aria-label="Name *" id="name" name="name" value="{{name}}" data-parsley-required />
</div>

<div class="row">
    <input type="text" placeholder="Surname"  aria-label="Surname" id="surname" name="surname" value="{{surname}}" />
</div>

<div class="row">
    <input type="text" placeholder="Birthday"  aria-label="Birthday" id="birthday" name="birthday" value="{{birthday}}" />
</div>

<div class="row">
    <input type="text" placeholder="Organization"  aria-label="Organization" id="organization" name="organization" value="{{organization}}" />
</div>

<div class="row">
    <input type="text" placeholder="Position in organisation"  aria-label="Position in organisation" id="position" name="position" value="{{position}}" />
</div>

<div class="row">
    <input type="text" placeholder="Group"  aria-label="Group" id="group" name="group" value="{{group}}" />
</div>

<div class="row">
    <button type="submit">Done</button>
    <a href="#" class="js-destroy">destroy</a>
</div>